@charset "UTF-8";
/*Base*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1100px;
  margin: auto; }

h1 {
  font-size: 32px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

header {
  font-family: 'Shrikhand', cursive; }

.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

/* Footer */
@media screen and (max-width: 750px) {
  footer ul {
    flex-direction: column; } }
footer {
  background-color: #353535;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 40px; }
  footer h2 {
    font-size: 20px;
    color: white;
    font-family: 'Shrikhand',sans-serif;
    margin-bottom: 16px;
    font-weight: lighter; }
  footer ul {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    font-weight: normal; }
  footer li {
    margin-bottom: 8px; }
  footer i {
    margin-right: 10px; }

/* Présentations */
.contenuLoader {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: loaderPage 3s ease-in-out normal forwards;
  background: #99E2D0;
  opacity: 1;
  position: fixed; }
  .contenuLoader .logo-loader {
    width: auto;
    height: 40px;
    margin-bottom: 100px;
    position: fixed; }
  .contenuLoader .loader {
    animation: chargement 3s;
    color: #FF79DA;
    font-size: 30px; }

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  margin-bottom: 30px; }
  .presentation .localisation {
    background-color: #EAEAEA;
    padding: 17px;
    font-weight: normal;
    color: #353535; }
    .presentation .localisation .fa-map-marker-alt {
      margin-right: 10px; }
  .presentation p {
    margin-bottom: 10px;
    margin: 20px; }
  .presentation h1 {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    font-weight: bolder; }
  .presentation button {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    text-decoration-color: white;
    border: none;
    color: white;
    font-size: 16px;
    width: 220px;
    height: 50px;
    padding-top: 17px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 150ms linear, transform 150ms linear; }
    .presentation button:hover {
      transform: scale(0.97);
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3); }

/* Fonctionnement */
.fonctionnement-titre h2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 900; }

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px; }
  .fonctionnement .etapes {
    margin-left: 15px;
    margin-bottom: 30px;
    font-weight: 900;
    position: relative;
    display: flex;
    width: 310px;
    height: 75px;
    border-radius: 20px;
    background: #F6F6F6;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
    .fonctionnement .etapes:hover {
      background-color: #f2eafb; }
      .fonctionnement .etapes:hover .fa-mobile-alt {
        color: #9356DC; }
      .fonctionnement .etapes:hover .fa-list-ul {
        color: #9356DC; }
      .fonctionnement .etapes:hover .fa-store {
        color: #9356DC; }
    .fonctionnement .etapes .fa-mobile-alt {
      margin-left: 40px;
      margin-right: 20px;
      color: gray;
      text-align: center; }
    .fonctionnement .etapes .fa-list-ul {
      margin-left: 40px;
      margin-right: 20px;
      color: gray; }
      .fonctionnement .etapes .fa-list-ul:hover {
        color: #f2eafb; }
    .fonctionnement .etapes .fa-store {
      margin-left: 40px;
      margin-right: 20px;
      color: gray; }
    .fonctionnement .etapes .cercle-num {
      position: absolute;
      display: flex;
      align-items: center;
      margin-left: -15px; }
    .fonctionnement .etapes .num {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: white;
      font-size: 14px; }
    .fonctionnement .etapes .cercle {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #9356DC; }

/* Restaurant */
article {
  margin-top: 30px;
  background-color: #F6F6F6;
  padding-bottom: 70px;
  padding-top: 10px; }
  article h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px; }
  article .restaurants {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center; }
    article .restaurants .restaurant {
      margin-top: 20px;
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
      padding-bottom: 20px;
      justify-content: space-between;
      position: relative;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
      article .restaurants .restaurant a img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
      article .restaurants .restaurant .description {
        position: relative; }
        article .restaurants .restaurant .description h3 {
          margin-top: 10px;
          margin-left: 15px;
          font-size: 20px;
          margin-bottom: 5px;
          font-weight: 900; }
        article .restaurants .restaurant .description p {
          padding-left: 15px;
          font-weight: normal; }
        article .restaurants .restaurant .description .favoris {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          height: 100%; }
          article .restaurants .restaurant .description .favoris .coeur1 {
            font-size: 27px;
            position: absolute;
            z-index: 2;
            opacity: 0; }
            article .restaurants .restaurant .description .favoris .coeur1:hover {
              opacity: 1;
              background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
              background-clip: border-box;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border: none;
              transition: transform 250ms;
              animation: progressive 250ms;
              animation-fill-mode: forwards; }
          article .restaurants .restaurant .description .favoris .coeur2 {
            font-size: 25px;
            position: absolute;
            z-index: 1;
            opacity: 1; }
      article .restaurants .restaurant .nouveau {
        position: absolute;
        font-weight: bolder;
        font-size: 15px;
        background-color: #99E2D0;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        color: #278870; }

/* MediaQuery */
@media screen and (min-width: 700px) {
  .fonctionnement-titre h2 {
    flex-direction: row;
    justify-content: center; }

  .fonctionnement {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }

  article h2 {
    display: flex;
    justify-content: center; }
  article .restaurants {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    article .restaurants .restaurant {
      width: 40%; } }
header {
  position: relative;
  display: flex;
  justify-content: center; }
  header .precedent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%; }
    header .precedent .retour {
      position: absolute;
      left: 0;
      align-items: center;
      justify-content: center;
      top: 10px;
      font-size: 20px;
      padding-left: 20px;
      padding-top: 12px; }

.imageMenu {
  max-height: 200px; }
  .imageMenu img {
    width: 100%; }

.menus {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
  padding: 50px 20px; }
  .menus .hautMenu {
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px; }
    .menus .hautMenu h2 {
      font-size: 28px;
      font-family: "Shrikhand", sans-serif;
      font-weight: lighter;
      margin: 0;
      text-align: left; }
    .menus .hautMenu .favoris {
      margin-right: 20px;
      margin-top: 0;
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .menus .hautMenu .favoris .coeur1 {
        font-size: 27px;
        position: absolute;
        z-index: 2;
        opacity: 0; }
        .menus .hautMenu .favoris .coeur1:hover {
          opacity: 1;
          background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border: none;
          transition: transform 250ms;
          animation: progressive 250ms;
          animation-fill-mode: forwards; }
      .menus .hautMenu .favoris .coeur2 {
        font-size: 25px;
        position: absolute;
        z-index: 1; }
  .menus .choixPlat {
    margin-bottom: 30px; }
    .menus .choixPlat .titre {
      margin-left: 10px;
      margin-bottom: 5px;
      margin-top: 0;
      font-weight: 300; }
    .menus .choixPlat .ligne {
      margin: 5px 0 12px 10px;
      width: 40px;
      height: 3px;
      background-color: #99E2D0; }
    .menus .choixPlat .platEntrees {
      animation: moveCarte 1s cubic-bezier(0, 0, 0, 1) forwards; }
    .menus .choixPlat .platPlats {
      animation: moveCarte 1s cubic-bezier(0, 0, 0, 1) forwards;
      animation-delay: 400ms; }
    .menus .choixPlat .platDesserts {
      animation: moveCarte 1s cubic-bezier(0, 0, 0, 1) forwards;
      animation-delay: 900ms; }
    .menus .choixPlat .plat {
      top: 45px;
      min-width: 300px;
      padding-right: 25px;
      position: relative;
      padding: 12px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      margin-bottom: 10px;
      overflow: hidden; }
      .menus .choixPlat .plat:hover .platValide {
        transform: translateX(0px); }
        .menus .choixPlat .plat:hover .platValide .platValideIcon {
          transform: rotate(0deg); }
      .menus .choixPlat .plat:hover .platDesc {
        overflow: hidden; }
      .menus .choixPlat .plat:hover .platPrix {
        margin-right: 60px;
        transform: translateX(-10px);
        margin-left: 15px; }
      .menus .choixPlat .plat .platNom {
        font-weight: 700; }
      .menus .choixPlat .plat .platLigne2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .menus .choixPlat .plat .platLigne2 .platDesc {
          font-weight: 300;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .menus .choixPlat .plat .platLigne2 .platPrix {
          margin-left: 15px;
          font-weight: bold;
          transition: margin-right 400ms; }
      .menus .choixPlat .plat .platValide {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition-duration: 400ms;
        transform: translateX(60px); }
        .menus .choixPlat .plat .platValide .platValideV {
          width: 60px;
          height: 100%;
          background-color: #99E2D0; }
        .menus .choixPlat .plat .platValide .platValideIcon {
          font-size: 25px;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: white;
          transform: rotate(360deg);
          transition-duration: 400ms; }

.containerButton {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding-bottom: 40px; }
  .containerButton .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 30px;
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 16px;
    font-weight: 400;
    transition: box-shadow 150ms linear, transform 150ms linear; }
    .containerButton .Button:hover {
      transform: scale(0.97);
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3); }

/*Media Query*/
@media screen and (min-width: 700px) {
  .titre {
    display: flex;
    justify-content: center;
    color: #278870;
    font-weight: 900; }

  .ligne {
    opacity: 0; }

  .plats {
    display: flex;
    justify-content: center; }

  .plat {
    margin-right: 20px;
    overflow: visible;
    width: 500px; }

  .platPrix {
    margin-left: 10px; } }
@keyframes loaderPage {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    visibility: hidden;
    opacity: 0; } }
@keyframes progressive {
  0% {
    transform: scale(0); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
@keyframes moveCarte {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(-45px); } }
@keyframes chargement {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
