@charset "UTF-8";
/*Base*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder; }

.container {
  max-width: 1200px;
  margin: auto; }

h1 {
  font-size: 32px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

header {
  font-family: 'Shrikhand', cursive; }

.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

/* Footer */
@media screen and (max-width: 750px) {
  footer ul {
    flex-direction: column; } }
footer {
  background-color: #353535;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 40px; }
  footer h2 {
    font-size: 20px;
    color: white;
    font-family: 'Shrikhand',sans-serif;
    margin-bottom: 16px;
    font-weight: lighter; }
  footer ul {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    font-weight: normal; }
  footer li {
    margin-bottom: 8px; }
  footer i {
    margin-right: 10px; }

/* Présentations */
.localisation {
  background-color: #EAEAEA;
  padding: 17px;
  font-weight: bold; }

.fa-map-marker-alt {
  margin-right: 10px; }

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  margin-bottom: 30px; }
  .presentation p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px; }
  .presentation h1 {
    margin: 20px;
    font-size: 25px;
    font-weight: bolder; }
  .presentation button {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    text-decoration-color: white;
    border: none;
    color: white;
    font-size: 16px;
    width: 220px;
    height: 50px;
    padding-top: 17px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3); }

/* Fonctionnement */
@media screen and (max-width: 750px) {
  .fonctionnement {
    flex-direction: column; }

  .fonctionnement-titre {
    display: flex;
    flex-direction: column;
    margin-left: 30px; }

  .etapes {
    margin-left: 20px;
    margin-bottom: 30px; } }
.fonctionnement {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px; }

.fonctionnement-titre h1 {
  text-align: left;
  font-size: 25px; }

.fa-mobile-alt {
  margin-left: 40px;
  margin-right: 20px;
  color: gray;
  text-align: center; }

.fa-list-ul {
  margin-left: 40px;
  margin-right: 20px;
  color: gray; }

.fa-store {
  margin-left: 40px;
  margin-right: 20px;
  color: gray; }

.etapes {
  background-color: red;
  font-weight: 500;
  position: relative;
  display: flex;
  width: 330px;
  height: 75px;
  justify-content: center;
  border-radius: 20px;
  background: #F6F6F6;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }

.cercle-num {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: -15px; }

.num {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white; }

.cercle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC; }

/* Restaurant */
a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px; }

article {
  margin-top: 30px;
  background-color: #F6F6F6;
  padding-bottom: 70px;
  padding-top: 10px; }
  article h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px; }

.restaurant {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
  .restaurant h2 {
    font-size: 20px;
    padding-left: 15px;
    font-weight: bolder; }
  .restaurant p {
    padding-left: 15px;
    font-weight: bold; }

.description {
  position: relative; }

.favoris {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%; }

.coeur {
  font-size: 25px; }

.nouveau {
  position: absolute;
  font-weight: bolder;
  font-size: 15px;
  background-color: #99E2D0;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  color: #278870; }

@media screen and (max-width: 750px) {
  .restaurants {
    flex-direction: column;
    align-items: center; }

  .restaurant {
    margin-top: 20px;
    width: 90%; }

  article h1 {
    margin-top: 20px;
    margin-left: 5%; } }

/*# sourceMappingURL=.style.css.map */
