header
{
    position: relative;
    display: flex;
    justify-content: center;

    .precedent
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        height: 100%;
    
        .retour
        {
            position: absolute;
            left: 0;
            align-items: center;
            justify-content: center;
            top: 10px;
            font-size: 20px;
            padding-left: 20px;
            padding-top: 12px;
        }
    }
}

.imageMenu 
{
    max-height: 200px;

    img
    {
        width: 100%;
    }
}

.menus
{
    position:relative;
    display: flex;
    flex-direction: column;
    border-radius: 42px 42px 0 0;
    background-color: $grisFond;
    padding: 35px 20px;
    
    .hautMenu
    {
        justify-content: space-between;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        h2
        {
            font-size: 28px;
            font-family: "Shrikhand", sans-serif;
            font-weight:lighter;
            margin: 0;
            text-align: left;   
        }

        .favoris
        {
            margin-right: 20px;
            margin-top: 0;
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .coeur1
            {
                font-size: 25px;
                position: absolute;
                z-index: 2;
                opacity: 0;
                
                &:hover
                {
                    opacity: 1;
                    color: red;
                }    
            }
            .coeur2
            {
                font-size: 25px;
                position: absolute;
                z-index: 1;
                opacity: 1;
                
                &:hover
                {
                    opacity: 0;
                }
            }   
        }
    }

    .choixPlat
    {
        margin-bottom: 30px;
    
        .titre
        {
            margin-left: 10px;
            margin-bottom: 5px;
            margin-top: 0;
            font-weight: 300;
        }
        
        .ligne
        {
            margin: 5px 0 12px 10px;
            width: 40px;
            height: 3px;
            background-color: $tertiaire;
        }

        .plats
        {
            .plat
            {
                
                min-width: 300px;
                padding-right: 25px;
                position: relative;
                padding: 12px;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
                margin-bottom: 10px;
                overflow: hidden;
                
                &:hover
                {
                    .platValide
                    {
                        transform: translateX(0px);
                    }

                    .platValideIcon
                    {
                        transform: rotate(0deg);
                    }

                    .platDesc
                    {
                        overflow: hidden;
                    }

                    .platPrix
                    {
                        margin-right: 60px;
                    }
                }
                
                
                .platNom
                {
                    font-weight: 700;
                }

                .platLigne2
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                
                    .platDesc
                    {
                        font-weight: 300;
                    }

                    .platPrix
                    {
                        font-weight: bold;
                    }
                }

                .platValide
                {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    transition-duration: 400ms;
                    transform: translateX(60px);

                    .platValideV
                    {
                        width: 60px;
                        height: 100%;
                        background-color: $tertiaire;
                    }

                    .platValideIcon
                    {
                        font-size: 25px;
                        position: absolute;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        transition-duration: 400ms;
                        transform: rotate(360deg);
                    }
                }
            }
        }   
    }
}



.containerButton
{
    display: flex;
    justify-content: center;
    background-color: $grisFond;
    padding-bottom: 40px;

    .Button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 50px;
        text-align: center;
        color: white;
        border-radius: 30px;
        background:linear-gradient(175deg, $secondaire 10%, $primaire 95%);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        border: none;
        font-size: 16px;
        font-weight: 400;

    }
}



/*Media Query*/

@media screen and (min-width: 700px) 
{
    .plats
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        
    }
}