header
{
    position: relative;
    display: flex;
    justify-content: center;

    .precedent
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        height: 100%;
    
        .retour
        {
            position: absolute;
            left: 0;
            align-items: center;
            justify-content: center;
            top: 10px;
            font-size: 20px;
            padding-left: 20px;
            padding-top: 12px;
        }
    }
}

.imageMenu 
{
    max-height: 200px;

    img
    {
        width: 100%;
    }
}

.menus
{
    position:relative;
    display: flex;
    flex-direction: column;
    border-radius: 42px 42px 0 0;
    background-color: $grisFond;
    padding: 35px 20px;
    
    .hautMenu
    {
        justify-content: space-between;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        h2
        {
            font-size: 28px;
            font-family: "Shrikhand", sans-serif;
            font-weight:lighter;
            margin: 0;
            text-align: left;   
        }

        .favoris
        {
            margin-top: 0;
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .coeur
            {
                position: absolute; 
            }
        }
    }

    .choixPlat
    {
        margin-bottom: 30px;
    
        .titre
        {
            margin-left: 10px;
            margin-bottom: 5px;
            margin-top: 0;
            font-weight: 300;
        }
        
        .ligne
        {
            margin: 5px 0 12px 10px;
            width: 40px;
            height: 3px;
            background-color: $tertiaire;
        }
        .plat
        {
            min-width: 300px;
            padding-right: 25px;
            position: relative;
            padding: 12px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
            margin-bottom: 10px;
            
            .platNom
            {
                font-weight: 700;
            }

            .platLigne2
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            
                .platDesc
                {
                    font-weight: 300;
                }

                .platPrix
                {
                    font-weight: bold;
                }
        }   }   
    }
}



.containerButton
{
    display: flex;
    justify-content: center;
    background-color: $grisFond;
    padding-bottom: 40px;

    .Button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 50px;
        text-align: center;
        color: white;
        border-radius: 30px;
        background:linear-gradient(175deg, $secondaire 10%, $primaire 95%);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        border: none;
        font-size: 16px;
        font-weight: 400;

    }
}


/*Media Query*/

@media screen and (min-width: 700px) 
{
    .plats
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }
    .plat
        {
            display: flex;
            flex-direction: column;
            
            width: 10px;
            
        }
}