/* Footer */

footer
{
    background-color: grey;
    padding: 40px 40px;
    font-size: 20px;
    font-weight: 300;
}

.logo-footer
{
    text-align: left;
    
    
}
.footer img
{
    width: auto;
    height: 20px;
    text-decoration: white;

}

footer ul
{
    display: flex;
    justify-content: space-around;
    color: white;
    
}